/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: droid-sans, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
.nav {
  font-family: droid-sans, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 78.6%; /* 17.292px */
  color: var(--Naranja-Cempasuchil, #ff9e22);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0 40px 0;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

li {
  background-image: linear-gradient(
    to right,
    #ff9e22 49%,
    transparent 49% 100%
  );
  background-repeat: repeat-x;
  background-size: 201% 3px;
  background-position: -100% bottom;
  padding-bottom: 5px;
  transition: background-position 0.3s ease-out 0s;
  line-height: 2;
  &:hover {
    animation: line-gradation 0.3s ease-out 0s;
    background-position: 0 bottom;
  }
}

@keyframes line-gradation {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 0 bottom;
  }
}

.burger_container {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .burger_menu {
    display: none;
  }
}

header {
  background: #863b74;
  padding-top: 26px;
}

@media (max-width: 991px) {
  .fence {
    display: none;
  }
}

main {
  background: #fff8ef;
}

.intro {
  color: var(--beige, #fff8ef);
  font-family: droid-sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 164.523%;
  margin: 58px 50px 42px 50px;
  text-align: center;
}

@media (min-width: 991px) {
  .intro {
    color: var(--Beige, var(--beige, #fff8ef));
    font-family: droid Sans, sans-serif;
    font-size: 30px;
    text-align: left;
    line-height: 164.523%; /* 49.357px */
  }
}

.symbol img {
  display: block;
  width: 60%;
  aspect-ratio: 0.5;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 991px) {
  .symbol img {
    width: 145px;
  }
}

.symbol {
  margin-top: 258px;
}

@media (min-width: 991px) {
  .symbol {
    max-width: 205px;
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .symbol {
    margin-top: 100px;
  }
}

.symbol_legend {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 140.5%; /* 18.265px */
  margin-top: 11px;
}

@media (min-width: 767px) {
  .symbol_legend {
    color: var(--Morado, var(--Morado-Pitaya, #863b74));
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 164.523%; /* 49.357px */
    margin-bottom: 245px;
  }
}

.title {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: Taurunum Ferrum;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%; /* 40px */
  margin-top: 120px;
}

@media (min-width: 991px) {
  .title {
    font-size: 78px;
    margin: 180px 0 50px 0;
  }
}

.title img {
  width: 15%;
}

@media (min-width: 991px) {
  .title img {
    width: 20%;
  }
}

.title_2 {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: Taurunum Ferrum;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%; /* 40px */
  margin-top: 120px;
}

@media (min-width: 991px) {
  .title_2 {
    font-size: 78px;
    margin: 180px 0 50px 0;
  }
}

.title_2 img {
  width: 15%;
}

@media (min-width: 991px) {
  .title_2 img {
    width: 20%;
  }
}

@media (min-width: 767px) {
  .title_2 {
    margin-top: 60px;
  }
}

.text {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: sroid sans, sans-serif;
  font-size: 18px;
  line-height: normal;
  padding-right: 25px;
  margin: 26px 0 76px 0;
}

@media (min-width: 991px) {
  .text {
    font-size: 25px;
    line-height: 164.5%; /* 41.125px */
    padding-right: 70px;
  }
}

.logo_container {
  margin-top: 50px;
}

.header_img_left {
  position: absolute;
  top: 55px;
  margin-top: 25px;
  right: 0;
  width: 50%;
}

@media (min-width: 990px) {
  .header_img_bottom {
    display: none;
  }
}

@media (max-width: 991px) {
  .header_img_left {
    display: none;
  }
}

.display_mole {
  background-color: #df486b;
  width: fit-content;
  position: relative;
}

.display_mole > p {
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 59px;
  line-height: 90.523%; /* 53.408px */
  padding: 35px 0 35px 0;
}

.overlay {
  background-color: #df486b;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover {
  transition-property: opacity;
  transition-duration: 0.2s;
}

.hover_title {
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 105px;
  line-height: 90.523%; /* 101.385px */
  padding-top: 50px;
}

.hover_text {
  color: #fff;
  font-family: droid-sans, sans-serif;
  font-size: 25px;
  line-height: 164.5%; /* 41.125px */
  padding: 45px 70px 239px 60px;
}

.hover_subtitle {
  color: #fff;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 164.5%; /* 74.025px */
  padding: 0 0 0 70px;
}

.img_display {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.img_display_2 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

@media (min-width: 991px) {
  .display_mole > p {
    color: var(--Beige, var(--beige, #fff8ef));
    text-align: center;
    font-family: Taurunum Ferrum;
    font-size: 112px;
    line-height: 90.523%; /* 101.385px */
  }
}

.display_pan {
  background-color: #ff9e22;
  width: fit-content;
  position: relative;
}

.display_pan p {
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 62px;
  line-height: 90.523%; /* 56.124px */
  padding: 35px 0 10px 0;
}

@media (min-width: 991px) {
  .display_pan p {
    color: var(--Beige, var(--beige, #fff8ef));
    text-align: center;
    font-family: Taurunum Ferrum;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 90.523%; /* 99.575px */
  }
}

.display_pan_img {
  margin-bottom: 250px;
}

@media (max-width: 767px) {
  .display_pan_img {
    display: none;
  }
}

.display_champurrado {
  background-color: #5cb5a1;
  width: fit-content;
  position: relative;
}

.display_champurrado p {
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 62px;
  line-height: 90.523%; /* 58.84px */
  padding: 35px 0 10px 0;
}

@media (min-width: 991px) {
  .display_champurrado p {
    color: var(--Beige, var(--beige, #fff8ef));
    text-align: center;
    font-family: Taurunum Ferrum;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 90.523%; /* 99.575px */
  }
}

@media (min-width: 991px) {
  .carajillo p,
  .paloma p,
  .margarita p,
  .jamaica p,
  .mojito p,
  .horchata p,
  .michelada p {
    font-size: 80px;
    line-height: 90.523%; /* 72.418px */
    padding-top: 30px;
  }
}

@media (min-width: 767px) {
  .paloma,
  .carajillo,
  .margarita,
  .jamaica,
  .mojito,
  .horchata,
  .michelada {
    aspect-ratio: 1;
  }
}

.carajillo {
  background-color: #df486b;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
  position: relative;
  padding: 10px;
  width: fit-content;
}

@media (min-width: 991px) {
  .carajillo img {
    width: 250px;
    padding: 30px 0 0 30px;
  }
}

.paloma {
  background-color: #863b74;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
  position: relative;
  padding: 10px;
  width: fit-content;
}

@media (min-width: 991px) {
  .paloma img {
    width: 250px;
    padding: 45px 0 0 30px;
  }
}

.margarita {
  background-color: #5cb5a1;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
  position: relative;
  padding: 10px;
  width: fit-content;
}

@media (min-width: 991px) {
  .margarita img {
    width: 250px;
    padding-top: 20px;
  }
}

.jamaica {
  background-color: #ff9e22;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
  position: relative;
  padding: 10px;
  width: fit-content;
  overflow: hidden;
}

@media (min-width: 991px) {
  .jamaica img {
    width: 200px;
    padding-top: 20px;
  }
}

.mojito {
  background-color: #863b74;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.523%; /* 45.261px */
  position: relative;
  padding: 10px;
  width: fit-content;
}

@media (min-width: 991px) {
  .mojito img {
    width: 185px;
    padding: 35px 20px 0 0;
  }
}

.horchata {
  background-color: #df486b;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.523%; /* 45.261px */
  position: relative;
  padding: 10px;
  width: fit-content;
}

@media (min-width: 991px) {
  .horchata img {
    width: 330px;
    padding: 25px 0 0 60px;
  }
}

.michelada {
  background-color: #5cb5a1;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.523%; /* 40.735px */
  position: relative;
  padding: 10px;
  width: fit-content;
}

@media (min-width: 991px) {
  .michelada img {
    padding-top: 20px;
  }
}

.small_display_img {
  position: absolute;
  width: 60%;
  right: 20%;
}

.button {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: Taurunum Ferrum;
  font-size: 30px;
  line-height: 164.5%; /* 49.35px */
  text-align: center;
  background-color: #ff9e22;
  padding: 5px 0 5px 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

@media (min-width: 991px) {
  .button {
    font-size: 60px;
  }
}

@media (max-width: 771px) {
  .nomargin {
    margin-left: -12px;
    width: calc(100% + 24px);
    max-width: none;
  }

  .nomargin_2 {
    padding: 0px;
  }
}

.button_container {
  display: flex;
  flex-direction: row;
  margin: 90px 0 140px 0;
  justify-content: center;
  align-items: center;
}

@media (min-width: 991px) {
  .button_container {
    margin: 224px 0 400px 0;
  }
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 29px 0 30px 35px;
  border-color: transparent transparent transparent #ff9e22;
  transform: rotate(0deg);
}

.triangle_2 {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 29px 35px 30px 0;
  border-color: transparent #ff9e22 transparent transparent;
  transform: rotate(0deg);
}

@media (min-width: 991px) {
  .triangle_2 {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 58px 60px 50px 0;
    transform: rotate(0deg);
  }
}

@media (min-width: 991px) {
  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 58px 0 50px 60px;
    transform: rotate(0deg);
  }
}

footer {
  background: #863b74;
  padding-bottom: 190px;
}

footer p {
  color: var(--Beige, var(--beige, #fff8ef));
  font-family: droid-sans, sans-serif;
  font-size: 15px;
}

.title_yellow {
  color: var(--Naranja-Cempasuchil, #ff9e22);
  font-family: Taurunum Ferrum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 47px;
}

@media (min-width: 991px) {
  .title_yellow {
    font-size: 78px;
  }
}

.socials {
  margin-top: 50px;
  width: 85%;
}

@media (min-width: 771px) {
  .socials {
    width: 300px;
  }
}

@media (min-width: 991px) {
  footer p {
    font-size: 25px;
    line-height: 164.5%; /* 41.125px */
    padding-top: 15px;
  }
}

@media (max-width: 771px) {
  footer p {
    padding-top: 15px;
  }
}
