/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: droid-sans, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
.nav {
  font-family: droid-sans, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 78.6%; /* 17.292px */
  color: var(--Naranja-Cempasuchil, #ff9e22);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.burger_container {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .burger_menu {
    display: none;
  }
}

header {
  background: #863b74;
  padding-top: 26px;
}

main {
  background: #fff8ef;
}

footer {
  background: #863b74;
  padding-bottom: 55px;
}

.intro {
  color: var(--beige, #fff8ef);
  font-family: droid-sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 164.523%;
  margin: 58px 50px 42px 50px;
  text-align: center;
}

@media (min-width: 991px) {
  .intro {
    color: var(--Beige, var(--beige, #fff8ef));
    font-family: droid Sans, sans-serif;
    font-size: 30px;
    text-align: left;
    line-height: 164.523%; /* 49.357px */
  }
}

.symbol img {
  display: block;
  width: 60%;
  aspect-ratio: 0.5;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 991px) {
  .symbol img {
    width: 145px;
  }
}

.symbol {
  margin-top: 258px;
}

@media (min-width: 991px) {
  .symbol {
    max-width: 205px;
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .symbol {
    margin-top: 100px;
  }
}

.symbol_legend {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 140.5%; /* 18.265px */
  margin-top: 11px;
}

@media (min-width: 991px) {
  .symbol_legend {
    color: var(--Morado, var(--Morado-Pitaya, #863b74));
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 164.523%; /* 49.357px */
    margin-bottom: 245px;
  }
}

.title {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: Taurunum Ferrum;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%; /* 40px */
  margin-top: 120px;
}

@media (min-width: 991px) {
  .title {
    font-size: 78px;
    margin: 180px 0 50px 0;
  }
}

.title img {
  width: 15%;
}

@media (min-width: 991px) {
  .title img {
    width: 20%;
  }
}

.title_2 {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: Taurunum Ferrum;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%; /* 40px */
  margin-top: 120px;
}

@media (min-width: 991px) {
  .title_2 {
    font-size: 78px;
    margin: 180px 0 50px 0;
  }
}

.title_2 img {
  width: 15%;
}

@media (min-width: 991px) {
  .title_2 img {
    width: 20%;
  }
}

@media (min-width: 767px) {
  .title_2 {
    margin-top: 60px;
  }
}

.text {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: sroid sans, sans-serif;
  font-size: 18px;
  line-height: normal;
  padding-right: 25px;
  margin: 26px 0 76px 0;
}

@media (min-width: 991px) {
  .text {
    font-size: 25px;
    line-height: 164.5%; /* 41.125px */
    padding-right: 70px;
  }
}

.logo_container {
  margin-top: 25px;
}

@media (min-width: 990px) {
  .logo_container {
    padding-top: 50px;
  }
}

.header_img_left {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

@media (min-width: 990px) {
  .header_img_bottom {
    display: none;
  }
}

@media (max-width: 991px) {
  .header_img_left {
    display: none;
  }
}

.display_mole {
  background-color: #df486b;
  width: fit-content;
}

.display_mole p {
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 59px;
  line-height: 90.523%; /* 53.408px */
  padding: 35px 0 35px 0;
}

@media (min-width: 991px) {
  .display_mole p {
    color: var(--Beige, var(--beige, #fff8ef));
    text-align: center;
    font-family: Taurunum Ferrum;
    font-size: 112px;
    line-height: 90.523%; /* 101.385px */
  }
}

.display_pan {
  background-color: #ff9e22;
  width: fit-content;
}

.display_pan p {
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 62px;
  line-height: 90.523%; /* 56.124px */
  padding: 35px 0 10px 0;
}

@media (min-width: 991px) {
  .display_pan p {
    color: var(--Beige, var(--beige, #fff8ef));
    text-align: center;
    font-family: Taurunum Ferrum;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 90.523%; /* 99.575px */
  }
}

@media (max-width: 767px) {
  .display_pan_img {
    display: none;
  }
}

@media (min-width: 767px) {
  .display_pan_img {
    margin-bottom: 260px;
  }
}

.display_champurrado {
  background-color: #5cb5a1;
  width: fit-content;
}

.display_champurrado p {
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 65px;
  line-height: 90.523%; /* 58.84px */
  padding: 35px 0 10px 0;
}

@media (min-width: 991px) {
  .display_champurrado p {
    color: var(--Beige, var(--beige, #fff8ef));
    text-align: center;
    font-family: Taurunum Ferrum;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 90.523%; /* 99.575px */
  }
}

.carajillo {
  background-color: #df486b;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
}

.paloma {
  background-color: #863b74;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
}

.margarita {
  background-color: #5cb5a1;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
}

.jamaica {
  background-color: #ff9e22;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  line-height: 90.523%; /* 40.735px */
}

.mojito {
  background-color: #863b74;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.523%; /* 45.261px */
}

.horchata {
  background-color: #df486b;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.523%; /* 45.261px */
}

.michelada {
  background-color: #5cb5a1;
  color: var(--Beige, var(--beige, #fff8ef));
  text-align: center;
  font-family: Taurunum Ferrum;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.523%; /* 40.735px */
}

.button {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: Taurunum Ferrum;
  font-size: 30px;
  line-height: 164.5%; /* 49.35px */
  text-align: center;
  background-color: #ff9e22;
  padding: 5px 5px 5px 5px;
  margin: 90px 0 140px 0;
}

.title_yellow {
  color: var(--Naranja-Cempasuchil, #ff9e22);
  font-family: Taurunum Ferrum;
  font-size: 30px;
  line-height: 164.5%; /* 49.35px */
  margin-top: 47px;
}

@media (min-width: 991px) {
  .title_yellow {
    font-size: 78px;
  }
}

footer p {
  color: var(--Beige, var(--beige, #fff8ef));
  font-family: droid-sans, sans-serif;
  font-size: 15px;
}

.socials {
  margin-top: 47px;
}

@media (min-width: 991px) {
  footer p {
    font-size: 25px;
    line-height: 164.5%; /* 41.125px */
  }
}
