/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: droid-sans, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
.nav {
  font-family: droid-sans, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 78.6%; /* 17.292px */
  color: var(--Naranja-Cempasuchil, #ff9e22);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 991px) {
  .nav {
    display: none;
  }
}

.burger_container {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 990px) {
  .burger_menu {
    display: none;
  }
}

header {
  background: #863b74;
  padding-top: 26px;
}

main {
  background: #fff8ef;
}

footer {
  background: #863b74;
}

.intro {
  color: var(--beige, #fff8ef);
  font-family: droid-sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.523%;
  margin: 58px 50px 42px 50px;
  text-align: center;
}

.symbol img {
  display: block;
  width: 60%;
  aspect-ratio: 0.5;
  margin-left: auto;
  margin-right: auto;
}

.symbol {
  margin-top: 116px;
  margin-bottom: 121px;
}

.symbol_legend {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 140.5%; /* 18.265px */
  margin-top: 11px;
}

.title {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: Taurunum Ferrum;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%; /* 40px */
}

.text {
  color: var(--Morado, var(--Morado-Pitaya, #863b74));
  font-family: sroid sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
